html
    head
        title Hello World with PUG and SASS
        link(href='/css/bootstrap.css', rel='stylesheet')
        link(href='/css/main.css', rel='stylesheet')
        // bower:css
        // endbower
        script(type='text/javascript', data-main='js/main', src='js/require.js')
        // bower:js
        // endbower
    body
        .container
          .jumbotron
            .heading1.animation Hello World!
          input