html
    head
        title 
        link(href='https://fonts.googleapis.com/css?family=Merriweather:700|Titillium+Web:700', rel='stylesheet')
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        link(href='/css/main.css', rel='stylesheet')
        script(type='text/javascript', src='js/vendor/jquery.min.js')
        script(type='text/javascript', data-main='js/main', src='js/vendor/require.min.js')
    body.css-helper
        .container-fluid
            .row
                .col-md-12
                    nav.navbar.d-block.navbar-expand-lg.navbar-light
                        a.navbar-brand.col-md-3.d-xs-block(href='#')
                            img.float-left(alt='Exozet', src='/img/exozet_logo.png')
                        //button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo02', aria-controls='navbarTogglerDemo02', aria-expanded='false', aria-label='Toggle navigation')
                        //span.navbar-toggler-icon
                        #navBar.col-md-5.d-block.d-lg-inline.d-md-inline.float-md-right.collapse.navbar-collapse
                            ul.navbar-nav.list-unstyled.d-md-inline
                                li.nav-item.active.d-md-inline.float-md-left
                                    a.nav-link.pl-2(href='#') News
                                    span.sr-only (current)
                                li.nav-item.d-md-inline.float-md-left
                                    a.nav-link.pl-2(href='#') Kontakt
                                li.nav-item.d-md-inline.float-md-left
                                    a.nav-link.pl-2(href='#') Impressum
            .row
                .col-md-7.mx-md-4
                    h2 Long Headline Text /
                    p Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen. Erstens: wir haben nicht offensiv gespielt. Es gibt keine deutsche Mannschaft spielt offensiv und die Name offensiv wie Bayern.
                    p Letzte Spiel hatten wir in Platz drei Spitzen: Elber, Jancka und dann Zickler. Wir müssen nicht vergessen Zickler. Zickler ist eine Spitzen mehr, Mehmet eh mehr Basler. Ist klar diese Wörter, ist möglich verstehen, was ich hab gesagt? Danke.
                    blockquote.p-5.text-center
                        hr
                        |
                        p Ein Trainer ist nicht ein Idiot! Ein Trainer sei sehen was passieren in Platz.
                        |
                        cite Trapattoni '98
                        |
                        hr
                    .text-body
                        img.pr-3(style="float:left;width:267px;height:151px",src="/img/sydney-opera.png", alt="Opera in Sydney")
                        div Offensiv, offensiv ist wie machen wir in Platz. Zweitens: ich habe erklärt mit diese zwei Spieler: nach Dortmund brauchen vielleicht Halbzeit Pause. Ich habe auch andere Mannschaften gesehen in Europa nach diese Mittwoch. Ich habe gesehen auch zwei Tage die Training. Ein Trainer ist nicht ein Idiot! Ein Trainer sei sehen was passieren in Platz. In diese Spiel es waren zwei, drei diese Spieler waren schwach wie eine Flasche leer! Haben Sie gesehen Mittwoch, welche Mannschaft hat gespielt Mittwoch? Hat gespielt Mehmet oder gespielt Basler oder hat gespielt Trapattoni? Diese Spieler beklagen mehr als sie spielen! Wissen Sie, warum die Italienmannschaften kaufen nicht diese Spieler? Weil wir haben gesehen viele Male solche Spiel!
                    p
                        a.btn(href='#') View details »
                .col-md-3
                    h3
                    | h3. Lorem ipsum dolor sit amet.
                    ul
                        li.list-item
                        | Lorem ipsum dolor sit amet
                        li.list-item
                        | Consectetur adipiscing elit
                        li.list-item
                        | Integer molestie lorem at massa
                        li.list-item
                        | Facilisis in pretium nisl aliquet
                        li.list-item
                        | Nulla volutpat aliquam velit
                        li.list-item
                        | Faucibus porta lacus fringilla vel
                        li.list-item
                        | Aenean sit amet erat nunc
                        li.list-item
                        | Eget porttitor lorem
            .row
                .col-md-7.mx-md-4
                    h2 Formular /
                    
                    p.help-block
                        | Felder mit einem * sind Pflichtfelder.
                    p.text-hide.text-danger Fehlermeldung

                    form(role='form',action='#')
                        .form-group.row
                            label.col-sm-2.col-form-label(for='inputName') Name
                            .col-sm-10
                                input#inputName.form-control(type='text',pattern='[^\\d]+',placeholder='Ihr Name')
                        .form-group.row
                            label.col-sm-2.col-form-label(for='inputEmail') E-Mail
                            .col-sm-10
                                input#inputEmail.form-control(type='email',placeholder='me@example.com')
                        .form-group.row
                            label.col-sm-2.col-form-label(for='inputPhone') Telefon
                            .col-sm-10
                                input#inputPhone.form-control(type='tel',placeholder='+49 123 45 678')
                        .form-group.row
                            label.col-sm-2.col-form-label(for='inputComment') Kommentar
                            .col-sm-10
                                textarea#inputComment.form-control(placeholder='Ihr Kommentar')
                        .form-group.row
                            .col-sm-10.offset-sm-2
                                input.float-sm-right.btn.btn-primary(type='submit',onsubmit='return false;',value='Abschicken')
                .col-md-4
                    .row
                        .col-md-8
                    ul
                        li.list-item
                        | Lorem ipsum dolor sit amet
                        li.list-item
                        | Consectetur adipiscing elit
                        li.list-item
                        | Integer molestie lorem at massa
          
            .row
                .col-md-7.mx-md-4
                    h2 Leistungsumpfang /
                .col-md-4
                    p
                    | Lorem ipsum dolor sit amet, 
                    strong consectetur adipiscing elit
                    | . Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. 
                    em
                    | Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.
                    |  Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. 
                    small
                    | Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.
