@import '../../node_modules/bootstrap-xxl/scss/mixins'
@import '../../node_modules/bootstrap-xxl/scss/bootstrap'
@import 'fonts'

$spacer: 20px;
$asterisk-color: $form-feedback-invalid-color;

$grid-breakpoints: (sm: 480px, md: 768px, lg: 1024px);

.pl-2
  margin: ($spacer * .5) !important;

#navBar
  li
    a  
      font-size: 100%;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
  li.active
    a
      background-color: lighten(gray, 40%);
      border-radius: 5%;
      text-shadow: 1px 1px lighten(rgba(0,0,0,.5), 40%);
      border: 2px solid lighten(rgba(0,0,0,.5), 60%);

/*.css-helper
  @include media-breakpoint-up(sm, $grid-breakpoints)
    background-color: #333;
    color: #fff;
  @include media-breakpoint-up(md, $grid-breakpoints)
    background-color: #666;
    color: #fff;
  @include media-breakpoint-up(lg, $grid-breakpoints)
    background-color: #888;
    color: #fff;


p.form-error-text
  &.in
    animation: fadeIn 300ms linear;
  &.out
    animation: fadeOut 300ms linear;

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1
@keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0

// #b2c188 // button green gradient #1
// #739324 // button green gradient #2
// #cedbb0 // button light edge
// #546c0a // button dark edge
// #bcbeb9 // button shadow
//$green_button_gradient: (start-color: #b2c188; end-color: #739324);
.btn
  @include gradient-y($start-color: #b2c188, $end-color: #739324, $start-percent: 0%, $end-percent: 100%);
.btn.btn-primary
  border-color: #739324;
  border-top-color: #cedbb0;
  border-bottom-color: #546c0a;

.form-group.required
  .col-form-label::after
    content: "\2009 *";
    color: $asterisk-color;
