.card
  --offset: 20px
  width: calc(100% / 4 - calc(var(--offset) / 2))
  font-size: 30px
  font-weight: bold
  cursor: pointer
  display: inline
  background-color: lighten(blue, 30%)
  padding: 3px var(--offset)

.flipped
  color: red